<a href="/buscar">
    <button type="button" class="btn .btn-light"><img alt="Fast Service" src="https://cdn.shopify.com/s/files/1/2280/4869/files/Return-Icon.png" width="40px" height="10%">Regresar</button>
</a>
<div class="container">
  <div class="py-5 align-items-center">
  <div class="col">
    <div class="row">
        <div class="col text-center">
            <img  class="d-block mx-auto mb-4" src="https://res.cloudinary.com/divdrn6uo/image/upload/v1549659585/fast_services_logo_pagina.png">
            <p class="lead">Factura por consumo de servicios </p>
            <p class="mb-1 text-muted text-small">fastserviceinf@outlook.com</p>
            <p class="mb-1 text-muted text-small">0992574014 - 0984404457</p>            
            
        </div>
        <div class="row text-center">
          <h2 class="text-muted">Factura<br>001</h2>
        </div>
    </div>
    
      
      <div class="row text-center">
          <div class="col">
              <p>Nombre: Nombre de usuario</p>
              <p>Correo: correo@correo</p>
            </div>  
          <div class="col"><p>Lugar: Ciudad, Provicia, Pais </p></div>
                    
      </div>
          <ul class="list-group mb-3">
              <li class="list-group-item active ">
                  <div>
                      <h6 class="my-0">Servicio</h6>
                  </div>
                  <span >Costo</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                      <h6 class="text-muted">Instalación elétrica</h6>
                      <small class="text-muted">Implementación de intalaciones eléctricas en el hogar</small>
                  </div>
                  <span class="text-muted">$12</span>
              </li>
              
          </ul>
          
          <div class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                      <h6 class="text-muted">Valor Neto</h6>
                  </div>
                  <span class="text-muted">$12</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                      <h6 class="text-muted">+ 12% I.V.A</h6>
                  </div>
                  <span class="text-muted">$1.44</span>
              </li>    
              <li class="list-group-item d-flex justify-content-between">
                  <span><strong>Total (USD)</strong></span>
                  <strong>$13.44</strong>
              </li>
          </div>
      
  </div>
</div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2018-2019 Fast Service</p>
  </footer>
</div>