<div class="super_container">

    <!-- Header -->

    <header class="card">
        <!-- Header Main -->
        <div class="card-header">
            <div class="container">
                <div class="row">

                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1 col-xs-3">
                        <div class="logo_container">
                            <div class="logo"><a href="index.html"><img src="assets/images/fast_services_logo_pagina.png"></a></div>
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="col-lg-6 order-2 text-lg-left text-right col-xs-6">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <input type="search" required="required" class="header_search_input" placeholder="Ingrese los servicios a buscar...">
                                    <button type="submit" class="header_search_button" value="Submit"><img src="assets/images/search.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Wishlist -->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right col-xs-3">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist_icon"><img src="assets/images/user.png" alt=""></div>
                                <div class="wishlist_content">
                                    <ul class="standard_dropdown main_nav_dropdown">
                                        <li class="hassubs">
                                            <a href="#">User name<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="configuracion.html">Configuración</a></li>
                                                <li><a href="index.html">Cerrar sesión</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Shop-->

    <div class="row">
        <div class="container ">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-xs-3">

                    <!-- Shop Sidebar -->
                    <div class="shop_sidebar">
                        <div class="sidebar_section">
                            <div class="sidebar_title">Filtrar Resultados</div>
                            <div class="sidebar_section filter_by_section">
                                <div class="sidebar_subtitle">Provincia</div>
                                <div class="sidebar_subtitle">Ciudad</div>
                                <div class="sidebar_subtitle">Calificación</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-sm-9 col-xs-9">
                    <!-- Shop Content -->

                    <div class="shop_content">
                        <div class="shop_bar clearfix">
                            <div class="shop_product_count"><span>1</span> products found</div>
                            <div class="shop_sorting">
                            </div>
                        </div>


                        <!-- Product Item -->
                        <div class="container_producto col-lg-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-sm-12">
                                <div class="imagen_servicio col-lg-3"><img src="assets/images/servicio_hace.jpg"></div>
                                <div class="contenedor_descripcion_servicio col-lg-">
                                    <textarea name="textarea" rows="3" cols="55" disabled="true" class="descripcion_servicio">Es donde va la descripcion  que ser tiene acerca del producto la cual tiene que tener una cantidad maxima de caracteres.</textarea>
                                </div>
                                <div><label class="star">★★★★★</label></div>
                            </div>

                            <br />
                            <div class="informacion_contacto">
                                <div class="veces_contratado">#Veces contratado</div>
                                <div class="servicio_provincia">Provincia</div>
                                <div class="servicio_ciudad">Ciudad</div>

                            </div>
                            <div class="button_container col-lg-">
                                <a href="solicitar_servicio.html" class="button buscar_button">Ingresar</a>
                            </div>
                        </div>





                        <!-- Shop Page Navigation -->

                        <div class="shop_page_nav d-flex flex-row">
                            <div class="page_prev d-flex flex-column align-items-center justify-content-center">
                            <i class="fas fa-chevron-left"></i></div>
                            <ul class="page_nav d-flex flex-row">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">21</a></li>
                            </ul>
                            <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <br/>
    
    <!-- start footer Area -->
    <footer class="footer-area ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/fast_services_logo_pagina.png" align="rigth">
                    <p>Todos los derechos reservados 2018-2019</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->


</div>