<div class="super_container col-lg-12 col-sm-12 order-1 col-xs-12">

  <!-- Header -->

  <header class="header">
    <!-- Header Main -->
    <div class="header_main">
      <div class="container">
        <div class="row">

          <!-- Logo -->
          <div class="col-lg-2 col-sm-2 col-3 order-1 col-xs-2">
            <div class="logo_container">
              <div class="logo img-responsive"><a routerLink="/home"><img src="assets/images/fast_services_logo_pagina.png"></a></div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 order-2 text-lg-left text-right col-xs-6">
            <div class="header_search">
              <div class="header_search_content">

                <ul class="nav">
                  <li class="nav-item border">
                    <a class="nav-link active" href="#">
                      <h4>Home</h4>
                    </a>
                  </li>

                  <li class="nav-item border rounded">
                    <a class="nav-link" href="#">
                      <h4>Buscar</h4>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Usuario -->
          <div class="col-lg-4 col-4 order-lg-3 col-sm-4 order-3 text-lg-left text-right col-xs-4">
            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                <!--Imagen del usuario-->
                <div class="wishlist_icon"><img src="assets/images/user.png" alt=""></div>
                <div class="wishlist_content">
                  <ul class="standard_dropdown main_nav_dropdown">
                    <li class="hassubs">
                      <a href="#">User name<i class="fas fa-chevron-down"></i></a>
                      <ul>
                        <li><a routerLink="/configuracion">Configuración</a></li>
                        <li><a routerLink="/login">Cerrar Sesión</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--Shop-->

  <div class="row">
    <div class="container ">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-3">

          <!-- Shop Sidebar -->
          <form class="form-inline">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Servicio:</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
              <option selected>Limpieza</option>
              <option value="Mecánica">Mecánica</option>
              <option value="Fontaneria">Fontaneria</option>
            </select>
            <button type="submit" class="btn btn-primary"><img src="assets/images/search.png"></button>
          </form>
        </div>

        <div class="col-lg-9 col-sm-9 col-xs-9">
          <!-- Shop Content -->

          <div class="shop_content">
            <div class="shop_bar clearfix">
              <div class="shop_product_count"><span>1</span> products found</div>
              <div class="shop_sorting">
              </div>
            </div>


            <!-- Product Item -->
            <div class="container_producto col-lg-12 col-sm-12 col-xs-12">
              <div class="col-lg-12 col-sm-12">
                <div class="imagen_servicio col-lg-3"><img src="assets/images/servicio_hace.jpg"></div>
                <div class="contenedor_descripcion_servicio col-lg-">
                  <textarea name="textarea" rows="3" cols="55" disabled="true" class="descripcion_servicio">Es donde va la descripcion  que ser tiene acerca del producto la cual tiene que tener una cantidad maxima de caracteres.</textarea>
                </div>
                <div><label class="star">★★★★★</label></div>
              </div>

              <br />
              <div class="informacion_contacto">
                <div class="veces_contratado">#Veces contratado</div>
                <div class="servicio_provincia">Provincia</div>
                <div class="servicio_ciudad">Ciudad</div>

              </div>
              <div class="button_container col-lg-">
                <a routerLink="/solicitar" class="button buscar_button">Ingresar</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- End footer Area -->
  <br />
  <br />
  <br />



</div>

<!-- start footer Area -->
<footer class="footer-area ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <img src="assets/images/fast_services_logo_pagina.png" align="rigth">
        <p>Todos los derechos reservados 2018-2019</p>
      </div>
    </div>
  </div>
</footer>
