<div class="super_container col-lg-12 col-sm-12 order-1 col-xs-12">

  <header class="header">
      <!-- Header Main -->
      <div class="header_main">
        <div class="container">
          <div class="row">

            <!-- Logo -->
            <div class="col-lg-2 col-sm-2 col-3 order-1 col-xs-2">
              <div class="logo_container">
                <div class="logo img-responsive"><a routerLink="/home"><img src="assets/images/fast_services_logo_pagina.png"></a></div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-6 order-2 text-lg-left text-right col-xs-6">
              <div class="header_search">
                <div class="header_search_content">

                  <ul class="nav">
                    <li class="nav-item border">
                      <a class="nav-link active" routerLink="/home">
                        <h4>Home</h4>
                      </a>
                    </li>

                    <li class="nav-item border rounded">
                      <a class="nav-link" routerLink="/buscar">
                        <h4>Buscar</h4>
                      </a>
                    </li>

                    <li class="nav-item border rounded">
                      <a class="nav-link" href="http://localhost:6677/">
                        <h4>Chat</h4>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <!-- Usuario -->
            <div class="col-lg-4 col-4 order-lg-3 col-sm-4 order-3 text-lg-left text-right col-xs-4">
              <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                  <!--Imagen de l usuario-->
                  <div class="wishlist_icon"><img src="assets/images/user.png" alt="Usuario"></div>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false"></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="/config-perfil">Modificar usuario</a>
                      <a class="dropdown-item" routerLink="/servicios">Servicios</a>
                      <input type="button" class="dropdown-item" value="Cerrar sesion" (click)="cerrarSesion()">
                    </div>
                  </li>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>

  <!--Contenedor del body-->

  <div class="row">
    <div class="container ">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <!-- Seleccion de los servicios-->
          <form class="form-inline">
            <label class="h4 text-info float-left col-lg-2 float-left col-sm-4 col-xs-4" for="inlineFormCustomSelectPref">Servicio:</label>
            <select class="float-right form-control col-lg-4 float-left col-sm-6 col-xs-6" name="servicios" (change)="capturar()" id="servicios" [(ngModel)]="opcionSeleccionado">
              <option value="0">Selecciona una opción</option>
              <option *ngFor="let serv of servicios" [value]="serv.idServicio">{{serv.descripcionServicio}}</option>
              </select>
              <br />
              <br />
            <input type="button" class="btn btn-primary" value="Buscar Servicio" (click)="getListServDispo()">
          </form>

        </div>

        <div class="col-lg-12 col-sm-12 col-xs-12">
          <!-- Shop Content -->

          <hr style="width:100%;">

          <div class="shop_content">
            <div class="shop_bar clearfix">
              <div class="shop_product_count"><span>{{servEncontrados}}</span> Servicio encontrado</div>
              <div class="shop_sorting">
              </div>
            </div>

            <!-- Product Item -->
            <div class="container_producto col-lg-12 col-sm-12 col-xs-12" *ngFor="let result of resultadosBusqueda">
              <!--resultadosBusqueda-->
              <div class="col-lg-12 col-sm-12">
                <div class="imagen_servicio "><img [src]="result.fotoServicio.split(',')[0]"height="130" width="200"></div>
                <div class="contenedor_descripcion_servicio ">
                  <div class="servicio_provincia text-primary">{{result.provincia}},</div>
                  <label class="servicio_ciudad text-primary">Ciudad:</label>
                  <div class="servicio_ciudad text-primary">{{result.ciudad}}</div>
                  <br />
                  <br />
                  <div>
                      <label class="servicio_provincia text-dark float-left">Descripción del servicio : </label>
                      <textarea name="textarea" rows="3" cols="75" disabled="true" class="espacio col-md-offset-3 float-right border rounded">{{result.descripcionServicio}}</textarea>
                  </div>
                  <br />
                </div>
              </div>
              <input type="button" class="btn btn-primary float-right" value="Ingresar al servicio" (click)="obtenerServicios()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- End footer Area -->
  <br />
  <br />
  <br />



</div>

<!-- start footer Area -->
<footer class="footer-area ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <img src="assets/images/fast_services_logo_pagina.png" align="rigth">
        <p>Todos los derechos reservados 2018-2019</p>
      </div>
    </div>
  </div>
</footer>
