<div class="super_container">

  <!-- Header -->

  <header class="header">
      <!-- Header Main -->
      <br />
      <br />
      <div class="header_main">
        <div class="container">
          <div class="row">

            <!-- Logo -->
            <div class="col-lg-2 col-sm-2 col-3 order-1 col-xs-2">
              <div class="logo_container">
                <div class="logo img-responsive"><a routerLink="/home"><img src="assets/images/fast_services_logo_pagina.png"></a></div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-6 order-2 text-lg-left text-right col-xs-6">
              <div class="header_search">
                <div class="header_search_content">

                  <ul class="nav">
                    <li class="nav-item border">
                      <a class="nav-link active" href="#">
                        <h4>Home</h4>
                      </a>
                    </li>

                    <li class="nav-item border rounded">
                      <a class="nav-link" href="#">
                        <h4>Buscar</h4>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Usuario -->
            <div class="col-lg-4 col-4 order-lg-3 col-sm-4 order-3 text-lg-left text-right col-xs-4">
              <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                  <!--Imagen de l usuario-->
                  <div class="wishlist_icon"><img src="assets/images/user.png" alt="Usuario"></div>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                      aria-expanded="false"></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="/config-perfil">Modificar usuario</a>
                      <a class="dropdown-item" routerLink="/servicios">Servicios</a>
                      <input type="button" class="dropdown-item" value="Cerrar sesion" (click)="cerrarSesion()">
                    </div>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- Single Product -->

  <div class="single_product">
    <div class="container">
      <div class="row">

        <!-- Images -->
        <div class="col-lg-2 order-lg-1 order-2">
          <ul class="image_list">
            <li data-image="images/single_4.jpg"><img src="assets/images/servicio_hace.jpg" alt=""></li>
            <li data-image="images/single_2.jpg"><img src="assets/images/servicio_li.jpg" alt=""></li>
            <li data-image="images/single_3.jpg"><img src="assets/images/servicio_li2.jpg" alt=""></li>
          </ul>
        </div>

        <!-- Selected Image -->
        <div class="col-lg-5 order-lg-2 order-1">
          <div class="image_selected"><img src="assets/images/servicios_princiapl.jpg" alt=""></div>
        </div>

        <!-- Description -->
        <div class="col-lg-5 order-2">
          <div class="product_description">
            <div class="service_name">Nombre Persona</div>
            <div class="service_category">Servicio Ofrece</div>
            <div><label class="star">★★★★★</label></div>
            <div class="service_text">
              <p>Descripción de la persona que va a ofrecer el servicio......................................
                No debe ser mas de 50 palabras
              </p>
            </div>
            <div class="service_text">
              <p>
                Provincia---Ciudad
              </p>
            </div>
            <div class="button_container">
              <button type="button" class="button service_button">Solicitar servicio</button>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>

  <!---Comentarios-->

  <div class="container">
    <h2>Comentarios</h2>
    <div class="row">
      <div class="comentarios col-lg-12">
        <ul>
          <li>
            <div class="comentario_usuario">
              <div class="usuario_datos col-lg-4">
                <div class="comentario_nombre">Nombre_Usuario</div>
                <div><label class="star">★★★★★</label></div>
              </div>
              <div class="usuario_comentario col-lg-8">
                <p>
                  Comentario que el usuario dejo al tener el servicio </p>
              </div>
            </div>
          </li>
          <li>
            <div class="comentario_usuario">
              <div class="usuario_datos col-lg-4">
                <div class="comentario_nombre">Nombre_Usuario</div>
                <div><label class="star">★★★★★</label></div>
              </div>
              <div class="usuario_comentario col-lg-8">
                <p>
                  Comentario que el usuario dejo al tener el servicio......</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!---Fin Comentarios-->
  <br />
  <!-- start footer Area -->
  <footer class="footer-area ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <img src="assets/images/fast_services_logo_pagina.png" align="rigth">
          <p>Todos los derechos reservados 2018-2019</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer Area -->



</div>
