<div class="super_container">

  <!-- Header -->

  <header class="header">
    <!-- Header Main -->
    <div class="header_main">
      <div class="container">
        <div class="row">

          <!-- Logo -->
          <div class="col-lg-2 col-sm-2 col-3 order-1 col-xs-2">
            <div class="logo_container">
              <div class="logo img-responsive"><a routerLink="/home"><img src="assets/images/fast_services_logo_pagina.png"></a></div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 order-2 text-lg-left text-right col-xs-6">
            <div class="header_search">
              <div class="header_search_content">

                <ul class="nav">
                  <li class="nav-item border">
                    <a class="nav-link active" routerLink="/home">
                      <h4>Home</h4>
                    </a>
                  </li>

                  <li class="nav-item border rounded">
                    <a class="nav-link" routerLink="/buscar">
                      <h4>Buscar</h4>
                    </a>
                  </li>
                  <li class="nav-item border rounded">
                    <a class="nav-link" href="http://localhost:6677/">
                      <h4>Chat</h4>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Usuario -->
          <div class="col-lg-4 col-4 order-lg-3 col-sm-4 order-3 text-lg-left text-right col-xs-4">
            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                <!--Imagen de l usuario-->
                <div class="wishlist_icon"><img src="assets/images/user.png" alt="Usuario"></div>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false"></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/config-perfil">Modificar usuario</a>
                    <a class="dropdown-item" routerLink="/servicios">Servicios</a>
                    <input type="button" class="dropdown-item" value="Cerrar sesion" (click)="cerrarSesion()">
                  </div>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Single Product -->

  <div class="single_product">
    <div class="container">
      <div class="row">

        <!-- Images -->
        <div class="col-lg-2 order-lg-1 order-2">
          <ul class="image_list">
            <li data-image="images/single_4.jpg"><img async [src]="imagenes[0]" (click)='cargarImagen(0)'></li>
            <li data-image="images/single_2.jpg"><img async [src]="imagenes[1]" (click)='cargarImagen(1)'></li>
            <li data-image="images/single_3.jpg"><img async [src]="imagenes[2]" (click)='cargarImagen(2)'></li>
          </ul>
        </div>

        <!-- Selected Image -->
        <div class="col-lg-5 order-lg-2 order-1">
          <div class="image_selected"><img [src]="rutaImagenPrincipal" alt=""></div>
        </div>

        <!-- Description -->
        <div class="col-lg-5 order-2">
          <div class="product_description">
            <div class="service_name text-dark">{{nombrePerServicio}}</div>
            <div class="service_category text-primary">Servicio: {{descrServicio}}</div>
            <div class="service_text border rounded text-info">
              <p class="text-dark">Descripcion: </p>
              <p class="text-dark">{{descrServicio}}</p>
            </div>
            <div class="service_text">
              <p class="text-primary">Lugar de oferta: {{provincia}}, {{ciudad}}</p>
            </div>
            <div class="button_container">
              <button type="button" class="button service_button">Solicitar servicio</button>
            </div>


          </div>
        </div>


      </div>
    </div>
  </div>
  <br />
  <br />
  <!---Comentarios-->
  <div class="container border rounded border-success">
    
    <div class="" id="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
  </div>
  <br />
  <br />

  <div class="container border rounded border border-primary">
    <h2>Comentarios</h2>
    <div class="row">
      <div class="comentarios col-lg-12 border rounded">
        <div id="face"></div>
      </div>
    </div>
  </div>
  <!---Fin Comentarios-->
  <br />
  <!-- start footer Area -->
  <footer class="footer-area ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <img src="assets/images/fast_services_logo_pagina.png" align="rigth">
          <p>Todos los derechos reservados 2018-2019</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer Area -->



</div>
