.super_container {
  width: 100%;
  overflow: hidden;
}

.header_search {
  height: 50px;
}

.header.scrolled .top_bar {
  display: none;
}

.header_main
{
	z-index: 1;
}
.header.scrolled .header_main
{
	display: none;
}
.header_main_item
{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

