<div class="container col-lg-12 col-sm-12 order-1 col-xs-12">
  <br />

  <header class="header">
    <!-- Header Main -->
    <div class="header_main">
      <div class="container">
        <div class="row">

          <!-- Logo -->
          <div class="col-lg-2 col-sm-2 col-3 order-1 col-xs-2">
            <div class="logo_container">
              <div class="logo img-responsive"><a routerLink="/home"><img src="assets/images/fast_services_logo_pagina.png"></a></div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 order-2 text-lg-left text-right col-xs-6">
            <div class="header_search">
              <div class="header_search_content">

                <ul class="nav">
                  <li class="nav-item border">
                    <a class="nav-link active" href="#">
                      <h4>Home</h4>
                    </a>
                  </li>

                  <li class="nav-item border rounded">
                    <a class="nav-link" href="#">
                      <h4>Buscar</h4>
                    </a>
                  </li>

                  <li class="nav-item border rounded">
                    <a class="nav-link" href="http://localhost:6677/">
                      <h4>Chat</h4>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>

          <!-- Usuario -->
          <div class="col-lg-4 col-4 order-lg-3 col-sm-4 order-3 text-lg-left text-right col-xs-4">
            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                <!--Imagen de l usuario parte superior-->
                <div class="wishlist_icon"><img src="assets/images/user.png" alt="Usuario"></div>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/config-perfil">Modificar usuario</a>
                    <a class="dropdown-item" routerLink="/servicios">Servicios</a>
                    <input type="button" class="dropdown-item" value="Cerrar sesion" (click)="cerrarSesion()">
                  </div>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <br />


  <div class="container">
    <!--Seccion de agregar un servicio-->

    <div class="container col-lg-5 float-left">
      <div class="form-group">
        <h5>Seleccionar image:</h5>
        <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
      </div>
      <div class="progress">
        <div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'" class="progress-bar progress-bar-striped bg-success"
          role="progressbar" [style.width]="(uploadPercent | async) +'%'">

          <!-- <span class="progressText" *ngIf="urlImage | async">
                Ok!!</span> -->
        </div>
      </div>
      <br>



    </div>

    <!--Espacio intermedio para la separacion-->
    <div class="col-lg-2 float-right">

    </div>

    <!--Area para poner una descripcion del servicio que se va a ofercer-->
    <div class="col-lg-5 float-right">

    </div>


  </div>


</div>



<!-- start footer Area -->

<blockquote class="blockquote">
  <footer class="footer-area blockquote-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <img src="assets/images/fast_services_logo_pagina.png">
          <p>Todos los derechos reservados 2018-2019</p>
        </div>
      </div>
    </div>
  </footer>

</blockquote>
