<div class="container col-lg-12 col-sm-12 order-1 col-xs-12">
  <br />

  <header class="header">
    <!-- Header Main -->
    <div class="header_main">
      <div class="container">
        <div class="row">

          <!-- Logo -->
          <div class="col-lg-2 col-sm-2 col-3 order-1 col-xs-2">
            <div class="logo_container">
              <div class="logo img-responsive"><a routerLink="/home"><img src="assets/images/fast_services_logo_pagina.png"></a></div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 order-2 text-lg-left text-right col-xs-6">
            <div class="header_search">
              <div class="header_search_content">

                <ul class="nav">
                  <li class="nav-item border">
                    <a class="nav-link active" href="#">
                      <h4>Home</h4>
                    </a>
                  </li>

                  <li class="nav-item border rounded">
                    <a class="nav-link" href="#">
                      <h4>Buscar</h4>
                    </a>
                  </li>

                  <li class="nav-item border rounded">
                    <a class="nav-link" href="http://localhost:6677/">
                      <h4>Chat</h4>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>

          <!-- Usuario -->
          <div class="col-lg-4 col-4 order-lg-3 col-sm-4 order-3 text-lg-left text-right col-xs-4">
            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                <!--Imagen de l usuario-->
                <div class="wishlist_icon"><img src="assets/images/user.png" alt="Usuario"></div>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/config-perfil">Modificar usuario</a>
                    <a class="dropdown-item" routerLink="/servicios">Servicios</a>
                    <input type="button" class="dropdown-item" value="Cerrar sesion" (click)="cerrarSesion()">
                  </div>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container col-lg-6 center">
    <!--Pestaña para modificar el perfil del usuario-->
    <section class="tab-pane fade show" id="service" role="tabpanel" aria-labelledby="service-tab">
      <br />

      <div class="tab-pane" id="account">
        <h4 class="info-text"> Servicio a ofrecer en la pagina </h4>
        <form action="configuracion.html" method="POST" id="servicios_usuario">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="picture-container">
                <!--Imagen del servicio-->
                <div class="btn picture">
                  <img src="assets/images/default-avatar.png" class="picture-src" title="" />
                  <input class="picture" type="file" id="wizard-services">
                </div>
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
                <label for="file-upload" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Subir archivo
                </label>
                <input id="file-upload" type="file" />

                <h6>Elija una imagen</h6>
              </div>

              <h4 class="float-left">Servicio :</h4>
              <select class="float-right form-control" name="servicios" id="servicios">
                <option value="ninguno">Ninguno</option>
                <option value="ninguno">Ninguno</option>
              </select>

              <br />
              <br />
              <button type="submit" class="form-control btn btn-primary" name="agregar" onclick=""> Agregar </button>
              <br />
              <br />

              <div>
                <textarea rows="4" cols="50" readonly name="text_servicios" disabled></textarea>
              </div>
              <br />
            </div>
          </div>
        </form>

      </div>


    </section>
    <!--Fin panel para ofrecer los servicios-->

  </div>

  


</div>

<div>
  <button onclick="findMe()">Mostrar ubicación</button>
  <div id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4G-SMQ8Ik2JBbt-sBSGMVtRasrwpckYE"></script>

  <script>
    function findMe() {
      var output = document.getElementById('map');

      // Verificar si soporta geolocalizacion
      if (navigator.geolocation) {
        output.innerHTML = "<p>Geolocalizacion Activa</p>";
      } else {
        output.innerHTML = "<p>Tu navegador no soporta Geolocalizacion</p>";
      }

      //Obtenemos latitud y longitud
      function localizacion(posicion) {

        var latitude = posicion.coords.latitude;
        var longitude = posicion.coords.longitude;


        var imgURL = "https://maps.googleapis.com/maps/api/staticmap?center=" + latitude + "," + longitude +
          "&size=600x300&markers=color:red%7C" + latitude + "," + longitude +
          "&key=AIzaSyA4G-SMQ8Ik2JBbt-sBSGMVtRasrwpckYE";




        output.innerHTML = "<img src='" + imgURL + "'>";

        //output.innerHTML ="<p>Latitud: " + latitude+"<br>Longitud:"+longitude+"</p>";
      }

      function error() {
        output.innerHTML = "<p>No se pudo obtener tu ubicación</p>";
      }

      navigator.geolocation.getCurrentPosition(localizacion, error);
    }

  </script>

</div>

<!-- start footer Area -->
<footer class="footer-area ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <img src="assets/images/fast_services_logo_pagina.png" align="rigth">
        <p>Todos los derechos reservados 2018-2019</p>
      </div>
    </div>
  </div>
</footer>
