.enlaceboton {
    margin: 0px;
    padding: 2px;
    padding-left: 0%;
    display: block;
    float: none;
    text-align: center;
}

.enlaceboton:hover {
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    background-color: gainsboro;
    padding: 0px;
    display: block;
    float: none;
    text-align: center;
}

.parrafo{
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px;
    color: dimgrey;
    align-content: center;
}

* {
  scroll-behavior: smooth;
}


.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/assets/images/ingreso/banner-ingreso.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

table{
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}

.fb-comment{
    width: 100%;
    align-content: center;
    align-items: center;
  }

