<header class="default-header">
  <nav class="navbar navbar-expand-lg  navbar-light">
      <div class="container">
          <a routerLink="/">
              <img src="assets/images/fast_services_logo_pagina.png" alt="Fast Services">
          </a>
          <ul class="navbar-nav">
              <li><a href="#home">Home</a></li>
              <li><a href="#fast-services">Fast Services</a></li>
              <li><a href="#servicios">Servicios</a></li>
              <li><a href="https://infofastservice.wordpress.com">Información</a></li>
          </ul>
      </div>
  </nav>

  <script>

  </script>
</header>
<!-- End Header Area -->

<section class="masthead" id="home">
    <a data-scroll href="#home"></a>
    <div class="overlay-bg overlay"></div>
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12 col-md-12 text-center justify-content-end d-flex align-items-center" >
            <div class="banner-content col-lg-12 col-md-12">
                <h1>
                    No lo puedes solucionar, nosotros te podemos ayudar!<br>
                </h1>
                <a routerLink="/login" class="btn btn-secondary header-btn text-uppercase ">Iniciar</a>
            </div>
        </div>
      </div>
    </div>
  </section>

<!--Start project area-->
<section class="service-area pt-100 pb-150" id="fast-services">
  <a data-scroll href="#fast-services"></a>
  <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="title text-center">
              <h1 class="mb-10">Fast Services</h1>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6"><img src="assets/images/ingreso/fast_services.png" alt="Fast Services" align="center"></div>
              <div class="col-lg-9 col-md-6 parrafo" align="rigth">
                  <p>Fast Services tiene como propósito resolver problemas comunes que se presenten a los usuarios que estén previamente registrados.
                     Fast Services es una aplicación web donde los usuarios tanto como consumidores o proveedores de servicios se encuentran registrados.
                     Los servicios que se ofrecen pueden ser variados debido a la formación que tenga cada usuario, estos pueden ir desde arreglo de instalaciones eléctricas, arreglo de tuberías hasta otros problemas que comúnmente los usuarios pueden enfrentarse.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End project area-->

<!-- start service Area-->
<section class="service-area pt-100 pb-150" id="servicios">
  <a data-scroll href="#servicios"></a>
  <div class="container ">
      <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
              <div class="title text-center">
                  <h1 class="mb-10">Algunas servicios que podras buscar al unirte a nosotros</h1>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-3 col-md-6">
              <a title="Instalaciónes electricas" href="#home" role="button" class="enlaceboton"><img src="assets/images/ingreso/enchufe.png"></a>
          </div>

          <div class="col-lg-3 col-md-6">
              <a title="Limpieza" href="#home" role="button" class="enlaceboton"><img src="assets/images/ingreso/servicio-de-limpieza.png"></a>
          </div>

          <div class="col-lg-3 col-md-6">
              <a title="Plomeria" href="#home" role="button" class="enlaceboton"><img src="assets/images/ingreso/grifo-de-agua.png"></a>
          </div>

          <div class="col-lg-3 col-md-6">
              <a title="Reparación de computadoras" href="#home" role="button" class="enlaceboton"><img src="assets/images/ingreso/apoyo-tecnico.png"></a>
          </div>
      </div>
      <br />

      <div class="row">

          <div class="col-lg-3 col-md-6">
              <a title="Niñera" href="#home" role="button" class="enlaceboton"><img src="assets/images/ingreso/nana.png"></a>
          </div>

          <div class="col-lg-3 col-md-6">
              <a title="Grua" href="#home" role="button" class="enlaceboton"><img src="assets/images/ingreso/tow-truck.png"></a>
          </div>

          <div class="col-lg-3 col-md-6">
              <a title="Mecánico" href="#home" role="button" class="enlaceboton"><img src="assets/images/ingreso/mecanico.png"></a>
          </div>

          <div class="col-lg-3 col-md-6">
              <a title="Jardinero" href="#home" role="button" class="enlaceboton"><img src="assets/images/ingreso/jardinero.png"></a>
          </div>

      </div>
      <br />

  </div>
</section>
<table>
    <div id="fb" class="fb-comments" data-href="https://localhost:4200" data-width="800" data-numposts="3"></div>
</table>
<!-- start footer Area -->
<footer class="footer-area ">
  <div class="container">
      <div class="row">
          <div class="col-lg-6  col-md-12">
              <ul class="navbar-nav">
                  <li><a href="#home">Home</a></li>
                  <li><a href="#fast-services">Fast Services</a></li>
                  <li><a href="#servicios">Servicios</a></li>
              </ul>
          </div>

          <div class="col-lg-6 col-sm-12">
              <img src="assets/images/fast_services_logo_pagina.png" align="rigth">
              <p>Todos los derechos reservados 2018-2019</p>
          </div>
      </div>
  </div>
</footer>
