<div class="container ">
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
      <nav class="navbar navbar-expand-lg  navbar-light">
        <a routerLink="/">
          <img src="assets/images/fast_services_logo_pagina.png" alt="Fast Services">
        </a>
      </nav>
    </div>
  </div>

  <div class="container col-lg-4 col-sm-4 col-xs-4 float-left borde align-items-center minh-100">
    <br />
    <h5>Registrarse usando una cuenta de Facebook</h5>
    <br />
    <div>
      <img class="rounded mx-auto d-block img-fluid" src="/assets/images/facebook-icon.png">
    </div>

    <div class="col text-center">
      <br />
      <button class="btn btn-facebook " (click)="signInWithFB()"><span class="fa fa-facebook"> Continuar con Facebook</span></button>
    </div>

  </div>

  <div class="container col-lg-7 col-sm-7 col-xs-7 float-right d-flex flex-column bd-highlight mb-3 borde">

    <h5>Ingrese los datos para poder registrarse</h5>


    <!--Inicio del formulario de registro para las personas-->
    <form class="float-none" #formRegistro="ngForm" (ngSubmit)="onLogin(formRegistro)" >
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombres" [ngModelOptions]="{standalone: true}" placeholder="Nombre" #nombre="ngModel" [(ngModel)]="persona.nombre" required/>
      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" class="form-control" placeholder="Apellidos" [ngModelOptions]="{standalone: true}" #apellido="ngModel" [(ngModel)]="persona.apellido" required />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email"  class="form-control" placeholder="Ingrese su correo" [ngModelOptions]="{standalone: true}" #correo="ngModel" [(ngModel)]="persona.correo" required/>
      </div>

      <div class="form-group">
        <label for="clave">Contraseña</label>
        <input type="password" name="clave" class="form-control" placeholder="Ingrese su Contraseña" [ngModelOptions]="{standalone: true}" #clave="ngModel" [(ngModel)]="persona.clave" required/>
      </div>

      <input type="submit" class="btn btn-primary" value="Registrarse"/>

    </form>

    <!--Finalizacion del formulario-->

  </div>


</div>
